{{> enTete}}
{{> menu}}
<h1> Ajouter une citation</h1>
<form method="post" action="/ajouterCitationOk" name="ajoutCitation">
  <fieldset>
    <legend>Informations sur la citation</legend>

    <label for="selectEnseignant">Enseignant : </label>
    <select id="selectEnseignant" name="selectEnseignant">
      {{#each listeSalaries}}
        <option value="{{this.per_num}}">{{this.per_nom}}</option>
      {{/each}}
    </select>
    <br/>

    <label for="date">Date : </label>
    {{#if date}}
      <input type="text" placeholder="jj/mm/aaaa" pattern="[0-3][0-9]/[0-1][0-9]/[1-2][0-9][0-9][0-9]" name="date" id="date" value={{date}} required>
    {{else}}
      <input type="text" placeholder="jj/mm/aaaa" pattern="[0-3][0-9]/[0-1][0-9]/[1-2][0-9][0-9][0-9]" name="date" id="date" required>
    {{/if}}
    <br/>

    <label for="citation">Citation : </label>
    <textarea name="citation" id="citation" required>{{citation}}</textarea>
    {{#if motsInterdits}}
      <br/>
      {{#each motsInterdits}}
        <p><img src="/image/erreur.png"> Le mot "{{this}}" n'est pas autorisé...</p>
      {{/each}}
    {{/if}}
  </fieldset>

  <input type="submit" value="Valider"/>
</form>
<p id="enseignant" style="display: none;">{{enseignant}}</p>

{{#if enseignant}}
<script>
    window.onload = function () {
        var val = document.getElementById("enseignant").firstChild.nodeValue;
        var select = document.getElementById("selectEnseignant");

        for (var i=0;i<select.options.length;i++){
            if(select.options[i].value == val){
                select.options[i].selected = true;
            }
        }
    }
</script>
{{/if}}
