{{> enTete}}
{{> menu}}

<h1>Modifier un salarié</h1>

<p>
  {{#if modifOk}}
    <img src="/image/valid.png"/>
    Le salarié "<b>{{prenom}} {{nom}}</b>" a été modifié avec succès.
  {{else}}
    <img src="/image/erreur.png"/>
    Le salarié "<b>{{prenom}} {{nom}}</b>" n'a pas pu être modifié...
  {{/if}}
</p>
