{{> enTete}} {{> menu}}
<h1> Rechercher une citation</h1>
{{#if citation}}
		{{#if listeCitation}}
			<table id="citations">
					<tr>
							<th>Nom de l'enseignant</th>
							<th>Libellé</th>
							<th>Date</th>
							<th>Moyenne des notes</th>
					</tr>
					{{#each listeCitation}}
					<tr>
							<td>{{this.per_nom}} {{this.per_prenom}}</td>
							<td>{{this.cit_libelle}}</td>
							<td>{{this.cit_date}}</td>
							<td>{{this.vot_moy}}</td>
					</tr>
					{{/each}}
			</table>
		{{else}}
			<p><img src="/image/erreur.png"/> Aucune citation trouvée !</p>
			<a href="/rechercherCitation">Revenir à la recherche</a>
		{{/if}}
{{else}}
	<form method="POST" action="/rechercherCitation">
		<fieldset>
			<legend>Critères de recherche</legend>

			<label for="enseignant">Enseignant : </label>
			<select name="enseignant" id="enseignant">
					<option value="0" selected>Tous</option>
					{{#each listeCitationSalarie }}
						<option value="{{this.per_num}}">{{this.per_nom}}</option>
					{{/each}}
			</select>
			<br/>

			<label for="date">Date : </label>
			<select name="date" id="date">
					<option value="0" selected>Toutes</option>
					{{#each listeCitationDate }}
						<option value="{{this.cit_date}}">{{this.cit_date}}</option>
					{{/each}}
			</select>
			<br/>

			<label for="note">Note : </label>
			<select name="note" id="note">
					<option value="-1" selected>Toutes</option>
			</select>
			<br/>
		</fieldset>

		<input type="submit" value="Rechercher"/>
	</form>
{{/if}}

<script>
		window.onload = function () {
				for (var i = 0; i <= 20; i++) {
						var select = document.getElementById("note");
						var option = document.createElement("option");
						option.text = i;
						option.value = i;
						select.add(option);
				}
		}
</script>
