{{> enTete}}
{{> menu}}

<h1>Supprimer une personne</h1>

<div>
  {{#if supprOk}}
    <img src="/image/valid.png"/>
    La personne "{{prenom}} {{nom}}" a été supprimée avec succès.
  {{else}}
    <img src="/image/erreur.png"/>
    La personne "{{prenom}} {{nom}}" n'a pas pu être supprimée...
  {{/if}}
</div>
